.FeaturesContainer {
  max-width: 33rem;
  margin: 1rem auto 0;
  font-size: 14px;
  text-align: left;
}

.FeaturesContainer h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

.FeaturesContainer p:not(:last-of-type) {
  margin-bottom: 16px;
}
