@keyframes BACK_N_FORTH {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(324px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.NibContainer::after {
  content: "";
  margin-top: 8px;
  width: 100%;
  height: 4px;
  display: block;
  background-image: linear-gradient(#4fa5c2, #185a70);
}

.NibAnimatedIcon {
  animation: BACK_N_FORTHk 7s infinite;
  width: 60px;
  height: 71px;
  display: block;
  transform: translate(0, 0);
}
