.PostContainer {
  padding: 16px 8px;
}

.PostListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.PostList {
  width: 100%;
  list-style: inside none;
}

.Grid {
  list-style: none inside;
  display: flex;
  flex-wrap: wrap;
}

.GridItem {
  margin-bottom: 24px;
  width: 100%;
}

@media (min-width: 48rem) {
  :root {
    --grid-item-count: 2;
    --grid-spacing: 20px;
    --inverse-grid-spacing: -20px;
    --grid-width: calc(100% + var(--grid-spacing));
  }

  .Grid {
    margin-left: var(--inverse-grid-spacing);
    width: var(--grid-width);
  }

  .GridItem {
    padding-left: var(--grid-spacing);
    width: calc(100% / var(--grid-item-count));
  }
}

@media (min-width: 57.75rem) {
  :root {
    --grid-item-count: 3;
  }
}

@media (min-width: 75rem) {
  :root {
    --grid-item-count: 4;
  }
}

@media (min-width: 112.5rem) {
  :root {
    --grid-item-count: 5;
  }
}

@media (min-width: 150rem) {
  :root {
    --grid-item-count: 6;
  }
}

@media (min-width: 187.5rem) {
  :root {
    --grid-item-count: 7;
  }
}

/* Item */

.PostItem {
  padding: 16px 0;
}

.PostItemTitle {
  font-size: 16px;
  font-weight: 700;
}

.PostItem:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.PostItemTray {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.PostItemDeleteButton {
  color: inherit;
  appearance: none;
  border: 0px;
  font-family: inherit;
  background: none;
  font-size: inherit;
  font-weight: inherit;
}

.PostItemMeta {
  font-size: 12px;
  display: block;
  color: var(--meta);
  font-weight: 400;
  margin-bottom: 8px;
}

@media (min-width: 57.75rem) {
  .PostItemTitle {
    font-size: 18px;
  }
}
