# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env
.env.*
worker/.dev.vars
npm-debug.log
private.key

tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
worker/tsconfig.client.tsbuildinfo
.wrangler/
worker/dist/
worker/dist-api/
worker/dist-worker/
worker/.astro/
worker/web/dist/


# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# iOS
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
#*.xcworkspace
#!*.xcworkspace/contents.xcworkspacedata
#!*.xcworkspace/xcshareddata/*
DerivedData
.idea/
.vscode/
*.hmap

*.xcuserdatad
xcuserdata/

# Swift Package Manager
/.build/
.build/
.swiftpm/
Packages/*/Package.resolved



