
.Editor {
  border-top: 3px solid var(--color-1);
  z-index: 0;
}

.Editor *:focus { outline: none; }

.Editor__title {
  border-bottom: 3px solid var(--color-1);
  color: var(--color-1);
  height: auto;
}

.Editor__title:focus {
  border-bottom: 3px solid var(--color-2);
  color: var(--color-2);
}

.Editor__body {
  min-height: 60vh;
  font-family: var(--ff-sfmono);
}

.Editor__bodyArea {
  display: block;
  height: 100%;
}

.Editor__tools > * {
  text-align: center;
  padding: 1;
  flex: 1;
}
