{
  "presets": [
    "razzle/babel"
  ],
  "plugins": [
    "react-loadable/babel",
    ["styled-components", {
      "displayName": false,
      "ssr": true
      }],
    "transform-flow-strip-types",
    "syntax-dynamic-import"
  ]
}
