.AltLink {
  font-size: 14px;
  cursor: pointer;
  line-height: 1.1;
  opacity: 0.5;
  color: var(--color) !important;
}

.AltLink:focus {
  color: var(--text);
  opacity: 1;
}

.AltPreviewLink {
  display: block;
  font-size: 12px;
  line-height: 1;
}
