.AuthorBlock {
  display: block;
  max-width: 512px;
  margin: 0 auto;
  padding: 16px 8px;
  background-color: var(--cardBackground);
  box-shadow: var(--shadow);
}

.AuthorBlockContent {
  margin-bottom: 0 !important;
  color: red;
  font-family: var(--monospace);
  font-size: small;
  font-style: italic;
  color: #b4b4b4;
}

.AuthorBlock hr {
  height: 1px;
  margin: 16px 0;
  border: 0;
  background: rgba(0, 0, 0, 0.125);
}

.AuthorBlockHeader {
  display: flex;
  align-items: center;
}

.AuthorBlockTitle {
  font-size: 18px;
  font-weight: 400;
  margin-left: 16px;
}
