.AvatarCircle {
  border-radius: 50%;
  height: calc(var(--size) * 1px);
  width: calc(var(--size) * 1px);
  background: linear-gradient(
    135deg,
    var(--color-a, #feb692) 10%,
    var(--color-b, #ea5455) 100%
  );
}

.AvatarCircle--centered {
  margin: 0 auto 1rem;
}
