.PickerTitle {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
  margin: 0 0 8px 0;
  font-family: var(--sans);
}

.PickerContainer {
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  width: 100%;
  flex: 1 1 248px;
  width: 100%;
}

.SwatchBox {
  width: 30px;
  height: 30px;
  margin: 0 4px 8px;
  border-radius: 4px;
}

.SwatchContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  margin-left: -2px;
}
