.GettingStarted {
  color: #757575;
  cursor: pointer;
}

.GettingStartedContainer {
  padding-top: 64px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.EmptyBlockRight {
  width: 100%;
  max-width: 384px;
  margin-bottom: 32px;
  flex: 1;
}

.EmptyBlockLeft {
  text-align: center;
  flex: 1;
}

.GettingStartedTitle {
  font-size: 20px;
  margin-bottom: 16px;
}
