.Export {
  display: block;
  margin: 0 16px;
}

.ExportButton {
  border: 0;
  display: flex;
  align-items: center;
  font-family: inherit;
  appearance: none;
  color: inherit;
  line-height: inherit;
  background: none;
  box-sizing: inherit;
}

.ExportLabel {
  margin-left: 8px;
  font-size: 12px;
}
