.AppFooter {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.AppFooterNav::before {
  content: "";
  display: block;
  width: 128px;
  height: 2px;
  background: var(--link);
  margin: 0 auto 32px;
}

.AppFooterNav ul {
  list-style: none inside;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.AppFooterNav li {
  display: inline-block;
  margin-right: 16px;
}
