.GradientEditorContainer {
  max-width: 512px;
  margin: 64px auto;
}

.GEAvatar {
  margin-bottom: 36px;
}

.Flexxy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
