.FormGreeting {
  margin-bottom: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.FormWrapper {
  box-shadow: var(--shadow);
  max-width: 544px;
  width: 100%;
  background: var(--cardBackground);
  color: var(--color);
}

.TabsList {
  display: flex;
  text-align: center;
  width: 100%;
}

.ListItem {
  width: 50%;
  border: 0px;
  appearance: none;
  border-radius: 0px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  background: inherit;
  box-sizing: inherit;
  border-bottom-color: transparent;
  color: inherit;
}

.ListItem.active {
  color: var(--yellow700);
  border-bottom-color: var(--yellow700);
}
