:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  overflow: auto;
}

[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  outline: none;
}

@keyframes FADE_IN {
  0% {
    transform: translate(0, 75%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(21, 69, 93, 0.925);
  background-blend-mode: multiply;
  padding: 8px;
}

.ModalCloseButton {
  position: absolute;
  right: 16px;
  top: 16px;
  border: 0px;
  background: none;
  appearance: none;
  display: block;
  margin: 0px;
  font-family: inherit;
}

.ModalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.ModalContainer {
  animation: FADE_IN 0.45s;
  background: white;
  width: 100%;
  height: auto;
  position: relative;
  color: var(--text);
  display: flex;
}

.ModalContainerInner {
}
