.PreviewContainer {
  padding: 32px 0;
  font-family: var(--sans);
}

.PreviewContentHeader {
  margin-bottom: 32px;
}

.ContentHeaderTitle {
  text-align: center;
  font-weight: 900;
}

.PreviewContentBody {
  text-align: left;
  padding: 8px;
  margin-bottom: 64px;
}

.PreviewMeta {
  opacity: 0.75;
  font-size: small;
}

.PreviewBody h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 12px;
}

.PreviewBody h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}

.PreviewBody li > ul,
.PreviewBody li > ol {
  margin-bottom: 0;
}

.PreviewBody ul,
.PreviewBody ol {
  list-style-position: inside;
}

.PreviewBody ul,
.PreviewBody ol,
.PreviewBody pre,
.PreviewBody hr,
.PreviewBody p {
  margin-bottom: 24.6px;
}

.PreviewBody p,
.PreviewBody li {
  line-height: 1.65;
  font-size: 14.6667px;
}

.PreviewBody blockquote {
  font-style: italic;
  margin-bottom: 24px;
  background: var(--blue100);
  margin-left: -8px;
  margin-right: -8px;
}

/* TODO: There at some point be a notch to separate the content */
.PreviewBody blockquote::after {
}

.PreviewBody blockquote p {
  padding: 16px;
  font-size: 106.25%;
}

@media (min-width: 48rem) {
  .PreviewBody pre,
  .PreviewBody blockquote {
    margin-left: -80px;
    margin-right: -80px;
  }

  .PreviewBody blockquote p {
    font-size: 112.5%;
  }

  .PreviewBody p,
  .PreviewBody li {
    font-size: 15.625px;
  }
}
