.ToolbarWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  background: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.ToolbarButton {
  display: inline-block;
  padding: 8px;
  flex: 1 1 auto;
  text-align: center;
  color: var(--blue700);
  font-size: 12px;
  transition: all 250ms ease-in-out;
}
