.UIContainer {
  color: var(--color);
  background: var(--background);
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;
}

.UIContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to right, #2584a5, #4fa5c2);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.UIContainer a {
  background-color: transparent;
  text-decoration: none;
  color: var(--link);
}

.UIContainer a:active,
.UIContainer a:hover {
  color: var(--linkHover);
  outline: 0;
}

.ContainerTitle {
  font-weight: 900;
  font-size: 24px;
}
