.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  padding: 8px;
}

.Card a {
  cursor: pointer;
}

.CardHeader {
  display: block;
  border-bottom: 1px solid var(--border);
  padding: 0 0 12px;
  margin-bottom: 42px;
}

.CardTitle {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 700;
}

.CardMeta {
  font-size: 12px;
  display: block;
  color: var(--meta);
  font-weight: 400;
}
