.DeleteEntry {
  padding: 24px 8px 0;
}

.DeleteTitle {
  font-weight: 900;
}

.DeleteEntryContents {
  margin-bottom: 16px;
  padding: 16px;
}

.DeleteEntryTray {
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.DeleteEntryWarning {
  margin: 16px 0;
  font-size: 16px;
}
