:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  display: block;
  position: absolute;
  width: 384px;
  font-weight: 700;
}

[data-reach-menu-list] {
  display: block;
  white-space: nowrap;
  outline: none;
  padding: 0;
}

[data-reach-menu-item] {
  display: block;
}

[data-reach-menu-item] {
  cursor: pointer;
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;
  padding: 8px;
}
