.LayoutTrigger {
  display: inline-block;
  margin: 8px 0 8px 16px;
  cursor: pointer;
  font-size: 14px;
  color: inherit;
  opacity: 0.5;
}

.LayoutTrigger::after {
  content: "";
  display: block;
  border-bottom: 3px solid transparent;
}

.LayoutTrigger.active {
  opacity: 1;
}

.LayoutTrigger.active::after {
  content: "";
  display: block;
  border-bottom: 3px solid var(--link);
}
