@keyframes RIPPLE {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  70% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.Loading {
  --container: calc(var(--size) * 1px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: calc(100% - var(--container));
  max-width: var(--container);
  margin: 16px auto;
}

.OuterRing {
  position: relative;
  margin: auto;
  color: var(--blue400);
  transform: translateY(calc(var(--size) / 2px));
}

.InnerRing {
  position: absolute;
  top: -2px;
  left: calc(var(--size) / - 2 + 1px);
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  border-radius: 100%;
  border: 2px solid currentColor;
  animation-fill-mode: both;
  animation: RIPPLE 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
