.FormGreeting {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
}

.FormWrapper {
  width: 100%;
}

.Tabs {
  width: 100%;
}

.TabsList {
  display: flex;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
}

.ListItem {
  width: 50%;
  border: 0px;
  appearance: none;
  border-radius: 0px;
  border-bottom-width: 3px !important;
  border-bottom-style: solid;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  background: inherit;
  box-sizing: inherit;
  border-bottom-color: transparent;
  color: inherit;
}

.ListItem[data-selected] {
  color: var(--link);
  border-bottom-color: var(--link);
}

.LoginForm {
  padding: 16px;
}

.LoginFormHeader {
  padding: 16px;
}
