body {
  transition: background 375ms ease-in-out;
}

.NightMode {
  --background: #191b1d;
  --color: #f9fbfc;
  --border: #dbdcdd;
  --link: var(--super-blue);
  --linkHover: #d8eaf1;
  --meta: #dbdcdd;
  --inputBorder: rgba(219, 220, 221, 0.24);
  --cardBackground: #383b3f linear-gradient(45deg, #383b3f, #212529);
  --cardTrayBackground: rgba(219, 220, 221, 0.24);
  --cardDeleteButton: #d8eaf1;
  --headerLogoLink: #edf0f1;
  --landingPageTitle: #4fa5c2;
  --shadow: 0 0 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.NightMode .PreviewBody blockquote,
.NightMode blockquote {
  background: none;
  color: var(--blue100) !important;
}

.NightModeTrigger {
  padding-top: 16px;
  position: relative;
}

.NightLabel {
  margin-left: 8px;
}

.NightController {
  display: flex;
  align-items: center;
}
