.Grid {
  list-style: none inside;
  display: flex;
  flex-wrap: wrap;
}

.GridItem {
  margin-bottom: 24px;
  width: 100%;
}

@media (min-width: 48rem) {
  :root {
    --grid-item-count: 2;
    --grid-spacing: 20px;
    --grid-width: calc(100% + var(--grid-spacing));
  }

  .Grid {
    margin-left: calc(var(--grid-spacing) * -1);
    width: var(--grid-width);
  }

  .GridItem {
    padding-left: var(--grid-spacing);
    width: calc(100% / var(--grid-item-count));
  }
}

@media (min-width: 57.75rem) {
  :root {
    --grid-item-count: 3;
  }
}

@media (min-width: 75rem) {
  :root {
    --grid-item-count: 4;
  }
}

@media (min-width: 112.5rem) {
  :root {
    --grid-item-count: 5;
  }
}

@media (min-width: 150rem) {
  :root {
    --grid-item-count: 6;
  }
}

@media (min-width: 187.5rem) {
  :root {
    --grid-item-count: 7;
  }
}
