figcaption,
figure {
  display: block;
}

[hidden],
template {
  display: none;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
figure {
  margin: 0;
}
pre {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  background: inherit;
  color: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  overflow: auto;
}
select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}
optgroup {
  font-weight: 700;
}
button {
  overflow: visible;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
fieldset {
  border: 1px solid;
  margin: 0;
  padding: calc(1rem / 4);
  padding: calc(var(--base-spacing) / 4);
}
legend {
  border: 0;
  padding: 0;
}
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
svg {
  pointer-events: none;
  max-height: 100%;
}

code,
pre {
  font-family: "Input Mono", "SF Mono", Consolas, "Liberation Mono", Menlo, monospace !important;
  font-size: 100%;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}
