.UIButton {
  background-color: var(--link);
  border-radius: 0.25rem;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.037), 0 4px 8px rgba(0, 0, 0, 0.07);
  box-sizing: inherit;
  color: #282828;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: inherit;
  padding: 0.25rem 1.125rem;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
}

.UIButton:hover {
  background-color: var(--yellow500);
}

.UIButton[disabled] {
  filter: grayscale(100%);
}

.AltButton {
  margin-right: 1rem;
  color: var(--blue700);
  background: none;
  font-family: inherit;
  font-size: 100%;
  border: 0px;
  font-weight: 700;
  box-sizing: inherit;
}

.CancelButton {
  margin-right: 1rem;
  color: var(--blue700);
  background: none;
  font-family: inherit;
  font-size: 100%;
  border: 0px;
  font-weight: 700;
  box-sizing: inherit;
}
