.UIInputContainer {
  position: relative;
}

.UIInputContainer:not(:last-of-type) {
  margin-bottom: 16px;
}

/*Input */

.UIInputError {
  color: #d04d36;
}

.UIInputContainer {
  display: block;
}

.UIInputLabel {
  font-weight: 700;
  font-family: var(--sans);
  transition: color 250ms ease-in-out;
}

.UIInputElement {
  @apply font-mono;
  font-size: 14px;
  padding: 8px 0;
  font-weight: 400;
  appearance: none;
  display: block;
  width: 100%;
  border-radius: 0;
  border: 0;
  background: none;
  border-bottom: 2px solid var(--gray200);
  transition: border-bottom 250ms ease-in-out;
}

.UIInputElement::placeholder {
  color: #d9d9d9;
  font-weight: 700;
}

.UIInputElement:focus {
  transition: border-bottom 250ms ease-in-out;
  background: none;
  outline: none;
  border-bottom: 2px solid var(--yellow700);
}

.NightMode .UIInputElement::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
