@keyframes FADE_OUT {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.UINotificationContainer {
  position: fixed;
  right: 16px;
  width: 100%;
  max-width: 400px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.UINotificationContainerInner {
  position: relative;
  max-width: 400px;
}

.UINotificationContainerInner:empty {
  height: 0;
  width: 0;
  max-width: 0;
}

.UINotification {
  display: flex;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  background: white;
  padding: 8px 16px 8px 8px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  z-index: 50;
}

.UINotification.warning {
  background: #ffba00;
}

.UINotification.error {
  background: #d04832;
}

/* .UINotification:nth-child(2) {
  margin-top: 10px;
  transform: scale(0.96);
  filter: blur(1px);
  z-index: 49;
}

.UINotification:nth-child(3) {
  margin-top: 20px;
  transform: scale(0.925);
  filter: blur(2px);
  z-index: 48;
}

.UINotification:nth-child(4) {
  margin-top: 30px;
  transform: scale(0.90125);
  filter: blur(3px);
  z-index: 47;
} */

.UINotification:not(:last-of-type) {
  margin-bottom: 8px;
}

.UINotification__content {
  margin: 0;
  line-height: 1.3;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.625);
}

.UINotification__id {
  margin-right: 4px;
  font-weight: 700;
  /* font-family: Operator Mono, Consolas, Liberation Mono, Menlo, Courier, monospace; */
  font-size: 12px;
  opacity: 0.5;
}

.UINotification button {
  font-weight: 700;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin-left: 16px;
}
