.Header {
  background: var(--color-1) linear-gradient(to right, #2584A5 0%, #4FA5C2 100%);
}

.Header__logo { flex: 6; }
.Header__tools { flex: 4; }
.Header__tools--btn { width: 100%; }

.Header .Header__link {
  color: white;
}

.Header--lite {
  background: none;
}

.Header--lite .Header__link {
  color: var(--color-2);
}

@media only screen and (min-width: 48rem) {
  .Header__tools--btn { width: auto; }
}

@media only screen and (min-width: 57.75rem) {
  .Header__logo { flex: 1; }

  .Header__tools {
    flex: 1;
    justify-content: flex-end;
  }
}
