:root {
  --base-spacing: 1rem;
}

body,
#__next {
  width: 100%;
  height: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #4fa5c2;
}

a:active,
a:hover {
  color: #d8eaf1;
  outline: 0;
}

figcaption,
figure {
  display: block;
}

[hidden],
template {
  display: none;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

figure {
  margin: 0;
}

pre {
  overflow: auto;
}

code,
pre {
  font-family: 'Input Mono', 'SF Mono', Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  background: inherit;
  color: inherit;
  box-sizing: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  appearance: none;
}

/* Textareas */

textarea {
  overflow: auto;
}

/* Selects */

select {
  appearance: menulist;
}

optgroup {
  font-weight: bold;
}

/* Buttons & Submissions */

button {
  overflow: visible;
  cursor: pointer;
  appearance: none;
}

/* Other */

fieldset {
  border: 1px solid;
  margin: 0;
  padding: calc(var(--base-spacing) / 4);
}

legend {
  border: 0;
  padding: 0;
}

p:not(:last-of-type) {
  margin-bottom: var(--base-spacing);
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  fill: currentColor;
  pointer-events: none;
  max-height: 100%;
}
