/* Multipliers */

/* Headline Sizes */

/* Headline Small Sizes */

/* Headline Medium Sizes */

/* Headline Large Sizes */

h1,
.f1 {
  font-size: 43.75px;
  font-size: 2.73438rem;
}
h2,
.f2 {
  font-size: 35px;
  font-size: 2.1875rem;
}
h3,
.f3 {
  font-size: 29.75px;
  font-size: 1.85938rem;
}
h4,
.f4 {
  font-size: 24.5px;
  font-size: 1.53125rem;
}
h5,
.f5 {
  font-size: 21px;
  font-size: 1.3125rem;
}
h6,
.f6 {
  font-size: 17.5px;
  font-size: 1.09375rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.f1,
.f2,
.f3,
.f4,
.f5,
.f6 {
  margin: 0;
  line-height: 1.5;
  font-family: inherit;
}

@media only screen and (min-width: 48rem) {
  h1,
  .f1 {
    font-size: 3.125rem;
  }
  h2,
  .f2 {
    font-size: 2.5rem;
  }
  h3,
  .f3 {
    font-size: 2.125rem;
  }
  h4,
  .f4 {
    font-size: 1.75rem;
  }
  h5,
  .f5 {
    font-size: 1.5rem;
  }
  h6,
  .f6 {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 57.75rem) {
  h1,
  .f1 {
    font-size: 3.51563rem;
  }
  h2,
  .f2 {
    font-size: 2.8125rem;
  }
  h3,
  .f3 {
    font-size: 2.39063rem;
  }
  h4,
  .f4 {
    font-size: 1.96875rem;
  }
  h5,
  .f5 {
    font-size: 1.6875rem;
  }
  h6,
  .f6 {
    font-size: 1.40625rem;
  }
}

.small {
  font-size: 87.5%;
}
