/*----------Flex Object----------*/

.Flex { display: flex; }

/* Wrap */

.Flex--wrap { flex-wrap: wrap; }

/* Centering */

.Flex--center--h { align-items: center; }

.Flex--center--v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Direction */

.Flex--row { flex-direction: row; }
.Flex--column { flex-direction: column; }

/* Justified Content */

.Flex--j--sb,
.Flex--between {
  justify-content: space-between;
}

.Flex--j--sa,
.Flex--around {
  justify-content: space-around;
}

.Flex--j--c,
.Flex--center {
  justify-content: center;
}

/* Ordering Flex Objects */

.Flex--first { order: 1; }
.Flex--last { order: unset; }

/*
  NOTE: The flex child element needs an explicit width & min-height
  for bugs related to Safari 9 and Chrome 44
*/

.Flex__child {
  display: initial;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  width: auto;
}

/*----------Containers / Wrapper Object----------*/

:root {
  --container-lg: calc(75rem * .75);
  --container-lg: calc(var(--base-container) * .75);
  --container-md: calc(75rem * .625);
  --container-md: calc(var(--base-container) * .625);
  --container-sm: calc(75rem * .5);
  --container-sm: calc(var(--base-container) * .5);
  --container-xs: calc(75rem * .375);
  --container-xs: calc(var(--base-container) * .375);
}

.Container,
.Container--full { max-width: 75rem; max-width: var(--base-container); }
.Container--lg { max-width: calc(75rem * .75); max-width: var(--container-lg); }
.Container--md { max-width: calc(75rem * .625); max-width: var(--container-md); }
.Container--sm { max-width: calc(75rem * .5); max-width: var(--container-sm); }
.Container--xs { max-width: calc(75rem * .375); max-width: var(--container-xs); }

.Container--center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*----------Grid Object----------*/

:root {
  --col-1: calc((1/12) * 100%);
  --col-2: calc((2/12) * 100%);
  --col-3: calc((3/12) * 100%);
  --col-4: calc((4/12) * 100%);
  --col-5: calc((5/12) * 100%);
  --col-6: calc((6/12) * 100%);
  --col-7: calc((7/12) * 100%);
  --col-8: calc((8/12) * 100%);
  --col-9: calc((9/12) * 100%);
  --col-10: calc((10/12) * 100%);
  --col-11: calc((11/12) * 100%);
  --col-12: calc((12/12) * 100%);
}

[class*='o-Column--'] { max-width: 100%; }

.Column {
  float: left;
  position: relative;
  min-height: 1px;
}

.Column--1\/12 { width: calc((1/12) * 100%); width: var(--col-1); }
.Column--2\/12 { width: calc((2/12) * 100%); width: var(--col-2); }
.Column--3\/12 { width: calc((3/12) * 100%); width: var(--col-3); }
.Column--4\/12 { width: calc((4/12) * 100%); width: var(--col-4); }
.Column--5\/12 { width: calc((5/12) * 100%); width: var(--col-5); }
.Column--6\/12 { width: calc((6/12) * 100%); width: var(--col-6); }
.Column--7\/12 { width: calc((7/12) * 100%); width: var(--col-7); }
.Column--8\/12 { width: calc((8/12) * 100%); width: var(--col-8); }
.Column--9\/12 { width: calc((9/12) * 100%); width: var(--col-9); }
.Column--10\/12 { width: calc((10/12) * 100%); width: var(--col-10); }
.Column--11\/12 { width: calc((11/12) * 100%); width: var(--col-11); }
.Column--12\/12 { width: calc((12/12) * 100%); width: var(--col-12); }

@media only screen and (min-width: 31.25rem) {
  .Column\@sm {
    float: left;
    position: relative;
    min-height: 1px;
  }

  .Column--1\/12\@sm { width: calc((1/12) * 100%); width: var(--col-1); }
  .Column--2\/12\@sm { width: calc((2/12) * 100%); width: var(--col-2); }
  .Column--3\/12\@sm { width: calc((3/12) * 100%); width: var(--col-3); }
  .Column--4\/12\@sm { width: calc((4/12) * 100%); width: var(--col-4); }
  .Column--5\/12\@sm { width: calc((5/12) * 100%); width: var(--col-5); }
  .Column--6\/12\@sm { width: calc((6/12) * 100%); width: var(--col-6); }
  .Column--7\/12\@sm { width: calc((7/12) * 100%); width: var(--col-7); }
  .Column--8\/12\@sm { width: calc((8/12) * 100%); width: var(--col-8); }
  .Column--9\/12\@sm { width: calc((9/12) * 100%); width: var(--col-9); }
  .Column--10\/12\@sm { width: calc((10/12) * 100%); width: var(--col-10); }
  .Column--11\/12\@sm { width: calc((11/12) * 100%); width: var(--col-11); }
  .Column--12\/12\@sm { width: calc((12/12) * 100%); width: var(--col-12); }
}

@media only screen and (min-width: 48rem) {
  .Column\@md {
    float: left;
    position: relative;
    min-height: 1px;
  }

  .Column--1\/12\@md { width: calc((1/12) * 100%); width: var(--col-1); }
  .Column--2\/12\@md { width: calc((2/12) * 100%); width: var(--col-2); }
  .Column--3\/12\@md { width: calc((3/12) * 100%); width: var(--col-3); }
  .Column--4\/12\@md { width: calc((4/12) * 100%); width: var(--col-4); }
  .Column--5\/12\@md { width: calc((5/12) * 100%); width: var(--col-5); }
  .Column--6\/12\@md { width: calc((6/12) * 100%); width: var(--col-6); }
  .Column--7\/12\@md { width: calc((7/12) * 100%); width: var(--col-7); }
  .Column--8\/12\@md { width: calc((8/12) * 100%); width: var(--col-8); }
  .Column--9\/12\@md { width: calc((9/12) * 100%); width: var(--col-9); }
  .Column--10\/12\@md { width: calc((10/12) * 100%); width: var(--col-10); }
  .Column--11\/12\@md { width: calc((11/12) * 100%); width: var(--col-11); }
  .Column--12\/12\@md { width: calc((12/12) * 100%); width: var(--col-12); }
}

@media only screen and (min-width: 57.75rem) {
  .Column\@lg {
    float: left;
    position: relative;
    min-height: 1px;
  }

  .Column--1\/12\@lg { width: calc((1/12) * 100%); width: var(--col-1); }
  .Column--2\/12\@lg { width: calc((2/12) * 100%); width: var(--col-2); }
  .Column--3\/12\@lg { width: calc((3/12) * 100%); width: var(--col-3); }
  .Column--4\/12\@lg { width: calc((4/12) * 100%); width: var(--col-4); }
  .Column--5\/12\@lg { width: calc((5/12) * 100%); width: var(--col-5); }
  .Column--6\/12\@lg { width: calc((6/12) * 100%); width: var(--col-6); }
  .Column--7\/12\@lg { width: calc((7/12) * 100%); width: var(--col-7); }
  .Column--8\/12\@lg { width: calc((8/12) * 100%); width: var(--col-8); }
  .Column--9\/12\@lg { width: calc((9/12) * 100%); width: var(--col-9); }
  .Column--10\/12\@lg { width: calc((10/12) * 100%); width: var(--col-10); }
  .Column--11\/12\@lg { width: calc((11/12) * 100%); width: var(--col-11); }
  .Column--12\/12\@lg { width: calc((12/12) * 100%); width: var(--col-12); }
}
