@import "~typeface-inter";
@import "~typeface-jetbrains-mono";
@import "~source-serif-pro/source-serif-pro.css";
@import "~@reach/tabs/styles.css";
@import "~@reach/menu-button/styles.css";
@import "~@reach/dialog/styles.css";
@import "~@reach/checkbox/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale-50 {
  filter: grayscale(50%);
}

:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  display: block;
  position: absolute;
  width: 384px;
  font-weight: 700;
}

[data-reach-menu-list] {
  display: block;
  white-space: nowrap;
  outline: none;
  padding: 0;
}

[data-reach-menu-item] {
}

[data-reach-menu-item] {
  cursor: pointer;
  color: inherit;
  font: inherit;
  text-decoration: initial;
  padding: 8px;
}

body,
#__next {
  @apply w-full h-full;
}

#__next {
  @apply relative flex flex-col flex-1;
}

:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  overflow: auto;
}

[data-reach-dialog-content] {
  @apply mx-auto max-w-lg;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
}

@keyframes FADE_IN {
  0% {
    transform: translate(0, 75%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

[data-reach-dialog-content] {
  animation: FADE_IN 0.45s;
  @apply p-0;
}

.RichEditor-root {
  font-size: 14px;
}

.RichEditor-editor {
  cursor: text;
  position: relative;
}

.public-DraftEditorPlaceholder-inner {
  opacity: 0.5;
  margin-top: 16px;
  position: absolute;
  top: 0;
  font-style: italic;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: inherit;
  font-style: italic;
  margin: 16px 0 16px -5px;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  @apply font-mono;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: inherit;
  font-size: 13px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

/*
** Overrides for Draft.js
*/

.RichEditor-editor h2 {
  font-size: 137.5%;
}

.RichEditor-editor h3 {
  font-size: 125%;
}

.RichEditor-editor h4 {
  font-size: 112.5%;
}

.RichEditor-editor h5 {
  font-size: 100%;
}

.RichEditor-editor h6 {
  font-size: 87.5%;
}

.RichEditor-editor pre {
  background: #f4f5f5;
  padding: 0.75rem;
  font-size: 13px;
}

.NightMode .RichEditor-editor pre {
  color: #4c4c4c;
}

.public-DraftStyleDefault-orderedListItem > *,
.public-DraftStyleDefault-unorderedListItem > * {
  display: inline;
}

.__content h2 {
  @apply text-3xl mb-6 font-extrabold;
}

.__content h3 {
  @apply text-2xl font-bold mb-4;
}

.__content li > ul,
.__content li > ol {
  margin-bottom: 0;
}

.__content ul {
  @apply list-disc list-inside;
}

.__content ol {
  @apply list-decimal list-inside;
}

.__content ul,
.__content ol,
.__content pre,
.__content hr,
.__content p {
  @apply mb-6;
}

.__content p,
.__content li {
  @apply text-base leading-relaxed;
}

.__content blockquote {
  @apply bg-pixieblue-100 mb-6 italic dark:text-gray-800;
}

.__content blockquote p {
  @apply text-base p-4;
}
